    <div class="user-block" id="user-block">
        Логин:       <input type="text" /> 
        <br>
        <br>
        Пароль: <input type="password" /> 
        
        <input type="button" value="Войти"  />
    </div>