<div class="comment-form">
    <input type="text" maxlength="250" cols="40" rows="5" placeholder="введите текст вашего комментария" style="resize:both;">
    <div style="display=flex; flex-direction=row; align-items=left;">
        <input type="button" value="Отправить" onClick="{{send_click}}">
        <input type="button" value="Отменить" onClick="{{cancel_click}}">
    </div>
</div>