body {
    background-color: #FFFACD;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    background-color: #2b2526;
    width: 100%;
    height: 9%;
    position: absolute;
    border-width: medium;
    text-align: center;
  }
  
.add-image-form {
    border: 2px outset #242020;
    background-color: #eb8686;
    display: inline-block;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.add-image-form cite {
    font-variant: small-caps;
   font-weight: 20%; 
}
.add-image-form label {
    display: block;
}
.add-image-form label span {
    display: inline-block;
    width: 100px;
}
.picture-item {
    background-color: #dbd94c;
    border: 2px solid #e0d891;
    box-shadow: 3px 3px 3px #c2cf49;
    display: inline-block;
    margin: 10px 20px;
    padding: 7px;
    position: relative;
    vertical-align: top;
    width: fit-content;
}
.picture-item .vote {
    background-image: url(../images/btns.png) ;
    position: absolute;
    left: 10px;
    top: 50px;
}
.picture-item .vote .vote-like, .picture-item .vote .vote-dislike {
    cursor: pointer; 
    
}
.picture-item img {
    float: left;
    margin-left: 30px;
    max-width: 150px;
}
.picture-item p {
    display: inline-block;
}
.picture-content {
    display: flex;
    flex-direction: column;
}
.tool-buttons {
    display: flex;
    width: fit-content;
    align-items: stretch;
    clear: both;
    text-align: right;
}
.tool-comments {
    display: flex;
    align-self: right;
}
.tool-buttons span {
    background-image: url(../images/btns.png) ;
    background-size: 300%;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 3px;
    opacity: .5;
    width: 30px;
}
.picture-addcomment{
    background-image: url(../images/send_comments.png);
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 3px;
    opacity: .5;
    width: 30px;
}
.picture-showcomment{
    background-image: url(../images/show_comments.png);
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 3px;
    opacity: .5;
    width: 30px;
}
.picture-showcomment:hover{
    opacity: 1.0;
}
.picture-addcomment:hover{
    opacity: 1.0;
}
.comment-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px;
    border: 2px inset #73f5a9;
    background-color: #89eeda;
}


.comment-item span{
   text-align: left;
}
.tool-buttons span:hover {
    opacity: 1.0;
}
.tb-delete {
    background-position: -50% 0;
}
.tb-download {
    background-position: -50% 50%;
}
.tb-edit {
    background-position: 0 0;
}
.tb-recover {
    background-position: 0 50%;
}

.user-block-auth select {
    margin-left: 10vw;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vote-total {
    text-align: center;
}
.vote-like{
    color: #27ae60;
}
.vote-dislike{
    color: #c0392b;
}
.vote-like :hover{
    color: #1abc9c;
}
.vote-dislike :hover{
    color: #e74c3c;
}
